{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomePage</title>
   
    
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='{% static 'assets/css/index.css' %}' type='text/css'>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    
</head>
<body>
    <div class="header-container">
        <header>
            <div class="header">
                <img id="header-img" src="{% static 'assets/imgs/theme/justshop.jpeg' %}" alt="JustShop-Logo">
            </div>
        </header>
        <nav>
            <ul class="page-links">
                <a href="{% url 'main:index' %}"><li>Home</li></a>
                <a href=""><li></i>Shop</li></a>
                <a href=""><li></i>Retailers</li></a>
                <a href=""><li></i>Pages</li></a>
                <a href=""><li></i>About</li></a>
                <a href=""><li></i>Contact Us</li></a>
            </ul>
            <ul class="account-links">
                <a href=""><li><i class="fas fa-heart"></i>Wishlist</li></a>
                <a href=""><li><i class="fas fa-cart-plus"></i>Cart</li></a>
                <a href=""><li><i class="fas fa-user"></i>Account</li></a>
                <a href="{% url 'UsersApp:logout' %}"></i>Logout</li></a>
            </ul>
        </nav>
    </div>
    <div class="subheader">
        <div class="all-categories">
            <select class="category-dropdown">
                <option class="category-option">Browse All Categories</option>
                {% for category in categories %}
                <option class="category-option">{{category.title}}</option>
                {%endfor%}
                <!-- Add more options as needed -->
            </select>
        </div>
        <div class="search-bar">
            <input type"text" class="search-input" placeholder="Search For Products/Categories"><i class="fas fa-search"></i></input>
        </div>
        <div class="hotline">
            <i class="fas fa-headphones"></i><span>+254-113708866</span><br>
            <span>24/7 Support</span>
        </div>
    </div>
    {% if messages %}
        {% for message in messages%}
            <div class="alert alert-{{message.tags}}">
                <strong>{{message}}</strong>
            </div>
        {% endfor%}
    {% endif %}
    <script>
        $(document).ready(function(){
            setTimeout(() => {
                $(".alert").alert("close");
            }, 2500);
        });
    </script>
    {% block content%}
    {%endblock content%}
   
    <footer class="footer-main">
        <div class="footer-container">
            <div class="footer-col-1">
                <a href=""><img style="width:10em;" src="{% static 'assets/imgs/theme/justshop.jpeg' %}" alt=""></a>
                <ul class="contact-info">
                    <li><i class="fas fa-location"></i><strong>Address: </strong> <span>1300 Koinange Street</span></li>
                    <li><i class="fas fa-phone"></i><strong>Call Us: </strong><span>(+254) -113708866</span></li>
                    <li><i class="fas fa-envelope"></i><strong>Email: </strong><span><a href="mailto:davismuchiri21@gmail.com">JustShop@gmail.com</a></span></li>
                    <li><i class="fas fa-hourglass"></i><strong>Hours: </strong><span>10:00 - 18:00, Mon - Sat</span></li>
                </ul>
                <h2>Corporate</h2>
                <ul class="footer-list">
                    <li><a href="#">Become a Vendor</a></li>
                    <li><a href="#">Affiliate Program</a></li>
                    <li><a href="#">Farm Business</a></li>
                    <li><a href="#">Farm Careers</a></li>
                    <li><a href="#">Our Suppliers</a></li>
                    <li><a href="#">Accessibility</a></li>
                    <li><a href="#">Promotions</a></li>
                </ul>
            </div>
            <div class="footer-col-2">
                <h2>Company</h2>
                        <ul class="footer-list">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                        <h2 class="widget-title">Popular</h2>
                        <ul class="footer-list">
                            <li><a href="#">Phones</a></li>
                            <li><a href="#">Computers</a></li>
                            <li><a href="#">Digital Products</a></li>
                            <li><a href="#">Clothing & Fashion</a></li>
                            <li><a href="#">Shoes</a></li>
                           
                        </ul>
            </div>
            <div class="footer-col-3">
                <h2>Account</h2>
                <ul class="footer-list">
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">View Cart</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">Track My Order</a></li>
                    <li><a href="#">Help Ticket</a></li>
                    <li><a href="#">Shipping Details</a></li>
                    <li><a href="#">Compare products</a></li>
                </ul>
                <div class="footer-link-widget widget-install-app col">
                    <h2 >Install App</h2>
                    <p >From App Store or Google Play</p>
                    <div>
                        <a href="#"><img class="active" src="{% static 'assets/imgs/theme/app-store.jpg' %}" alt="" /></a>
                        <a href="#"><img src="{% static 'assets/imgs/theme/google-play.jpg' %}" alt="" /></a>
                    </div>
                    <p >Secured Payment Gateways</p>
                    <img src="{% static 'assets/imgs/theme/payment-method.png' %}" alt="" />
                </div>
                
            </div>
        </div>
    </footer>
</body>
</html>