{% extends "base/base.html" %}
{% load static %}
{%block content%}
{% if category_products %}
    <div class="category-main-container">

        <div class="category-banner">
            <h1>{{ category_products.0.category }}</h1> 
        </div>
        <div class="category-features">
            <h2>Category Products</h2>
        </div>
        <div class="products-container">
            {% for category_product in category_products %}
                <div class="product-card">
                    <div class="product-img">
                        <img class="product-image" src="{{ category_product.image.url }}" alt="">
                    </div>
                    <div class="product-info">
                        <span>#{{ category_product.category }}</span>
                        <a href=""><h5>{{ category_product.title }}</h5></a>
                        <input type="hidden" value="1" class="product-quantity">
                        <input type="hidden" value={{category_product.id}} class="product-id" name="" id="">
                        <input type="hidden" value={{category_product.title}} class="product-title" name="" id="">
                        <span>⭐⭐⭐⭐(4.0)</span><br>
                        <span>By <a class="retailer-title" href="{% url 'main:retailerdetails' category_product.retailer.id %}">{{ category_product.retailer }}</a></span><br>
                        <span class="price current-price">{{ category_product.sale_price }}</span>
                        <button type="submit" class="add-to-cart-btn"><i class="fas fa-cart-plus"></i>Add to Cart</button>
                        <button><i class="fas fa-heart"></i></button>
                    </div>              
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <h2>Sorry, This Category doesn't have products yet</h2>
{% endif %}

    



















































{%endblock content%}