{%extends 'base/base.html'%}
{%block content%}
    {%load static %}
    <form class="main-checkout" method="POST" action="/order/">
        {% csrf_token %}
        <div class="checkout-details">
            <h3>Checkout details</h3>
            <div class="checkout-form">
                <fieldset>
                    <label for="f-name">First Name: </label>
                    <input type="text" id="f-name" name='name' required placeholder="First Name">
                </fieldset>
                <fieldset>
                    <label for="l-name">Last Name:</label>
                    <input type="text" id="l-name" required placeholder="Last Name">
                </fieldset>
                <fieldset>
                    <label for="phone">Phone Number:</label>
                    <input type="tel" id="phone" name='phone' required placeholder="phone-number">
                </fieldset>
                <fieldset>
                    <label for="email">E-Mail:</label>
                    <input type="email" id="email" name='email' required placeholder="email">
                </fieldset>
                <fieldset>
                    <label for="address">Address:</label>
                    <input type="text" id="address" name='address' required placeholder="where should we deliver ?">
                    
                </fieldset>   
            </div>
            
        </div>
        <div class="order">
            <div class="main-cart" id="async-cart"> 
                <div class="cart-items">
                    <div class="headers">
                        <span>Product</span><span>Quantity</span><span>SubTotal</span>
                    </div>
                    {% for product_id,item in cart_data.items%}
                    <div class="cart-item">
                        <p class="cart-product"><img  class="cart-img" src="{{item.product_img}}" alt="">{{ item.product_title }}</p>
                        <p>{{ item.product_qty }}</p>
                        <p>{% widthratio item.product_price 1 item.product_qty %} </p>
                    </div>
                    {%endfor%}
                    <a href="{%url 'main:view-cart' %}"><i class="fas fa-arrow-left"></i>Review Cart</a>
                </div>
                <div class="checkout-options">
                    <p>SubTotal:<span class="receipt-values" >  {{cart_total_amount}} </span></p>
                    <p>Shipping: <span class="receipt-values">  200</span></p>
                    <!--<p>Address: <span class="receipt-values"> St Louis</span></p>-->
                    <p>Total: <span class="receipt-values"> {{ cart_total_amount|add:"200" }}</span></p>
                    <div class="checkout-payment">
                        <h3>Payment</h3>
                        <div class="payment-options">
                            <div class="radio-option">
                                <input required type="radio" name="payment_option" id="dbt" value="dbt">
                                <label for="dbt">Direct Bank Transfer</label>
                            </div>
                            <div class="radio-option">
                                <input  required type="radio" name="payment_option" id="cod" value="cod">
                                <label  for="cod">Cash on delivery</label>
                            </div>
                        </div>
                        <div class="payments-logo">
                            <img src="{% static 'assets/imgs/theme/payment-method.png' %}" alt="" />
                            <a href="{%url 'main:order' %}"><button>Place an Order <i class="fa-solid fa-truck-fast"></i></button></a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-functionality">
            <a href="{%url 'main:products' %}"><i class="fas fa-arrow-left"></i>Continue Shopping</a>
        </div>
       
    </form>
{%endblock content%}