{% extends "base/base.html" %}
{% load static %}

{% block content %}

    <main class="main-container">
        <div class="side-bar">
            <div class="categories-list">
                    <span class="special">Categories</span>
                    {%for category in categories%}
                    <ul>
                        <li>
                            <a href="{% url 'main:categorydetails' category.id %}">{{category.title}}</a>
                        </li>
                    </ul>
                    {%endfor %}
            </div>
            <div class="ad-banner">
                <div class="ad-overlaybg"></div>
                <img class="ad-img" src="{% static 'assets/imgs/shop/GTR2e.jpeg' %}" alt="" />
                <div class="ad-text">
                    <span>Offer</span>
                    <h4>
                        Save 17% <br /> on <span >Oraimo Watches</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="central-pane">
            
            <div class="hero-banner">
                <div class="overlay-bg"></div>
                    <img class="hero-img"src="{% static 'assets/imgs/banner/amazingdeals.jpg' %}" alt="">
                    <div class="overlay-content">
                        <h1>Best Quality Products</h1>
                        <p>Major Discounts</p>
                    </div>
            </div>
            <section class="products-section">
                <h2>Popular Products</h2>
                <div class="products-container">
                    
                    {% for product in products %}
                    <div class="product-card">
                        <div class="product-img">
                            <a href="{%url 'main:product' product.id %}"><img class="product-image" src="{{product.image.url}}" alt=""></a>
                        </div>
                        <div class="product-info">
                            <span>#{{product.category}} <span>
                            <a href="{%url 'main:product' product.id %}"><h5>{{product.title}}</h5></a>
                            <input type="hidden" value="1" class="product-quantity">
                            <input type="hidden" value={{product.id}} class="product-id" name="" id="">
                            <input type="hidden" value={{product.title}} class="product-title" name="" id="">
                            <span>⭐⭐⭐⭐(4.0)</span><br>
                            <span>By <span><a class="retailer-title" href="{% url 'main:retailerdetails' product.retailer.id %}">{{product.retailer}}</a> </span></span><br>
                            <span class="price current-price">{{product.sale_price}}</span>
                            <button type="submit" class="add-to-cart-btn"><i class="fas fa-cart-plus"></i>Add to Cart</button>
                            <button class="add-to-wishlist" data-product-item="{{product.id}}"><i class="fas fa-heart"></i></button>
                        </div>              
                    </div>
                    {%endfor %}
                   
                   
                </div>
                   
            </section>
        </div>
    </main>
   
{% endblock content%}
