{% extends "base/base.html" %}
{%block content%}
    <div class="complete-orders">
        <h1>Completed Orders</h1>
        <div class="cart-items">
            <div class="headers">
                <span>Order Id</span><span>Date Ordered</span><span>Receipient Name</span><span>Shipping address</span><span>Receipient Phone</span><span>Order Items</span>
            </div>
            {% for order in orders%}
            <div class="cart-item">
                <span>{{order.id}}</span>
                <span>{{order.date_ordered}}</span>
                <span>{{order.name}}</span>
                <span>{{order.shipping_address}}</span>
                <span>{{order.phone}} </span>
                <a href="{%url 'main:order-items' order.id %}"><span><i class="fas fa-eye"></i>View Receipt</span></a>
            </div>

            {%endfor%}
        </div>
   
    </div>
       
{% endblock %}