{% extends "base/base.html" %}
{% load static %}
{%block content%}


<section class="products-section">
    <h2>Filters <i class="fas fa-filter"></i></h2>
    <button id="toggle-filters">Show Filters</button>

    <div class="filters-section hidden">
        
        <div class="filter-list">
            <h5>Categories</h5>
            <div class="category-options">
                {% for category in categories %}
                    <input class="filter-checkbox" data-filter="category" type="checkbox" id="category-option-{{ category.id }}" name="category-option" value="{{ category.id }}">
                    <label for="category-option-{{ category.id }}">{{ category.title }}</label><br>
                {% endfor %}
            </div>
        </div>    
            
        <div class="filter-list">
            <h5>By Retailers</h5>
            <div class="retailer-options">
            {% for retailer in retailers %}
                <input class="filter-checkbox" data-filter="retailer" type="checkbox" id="retailer-option-{{ retailer.id }}" name="retailer-option" value="{{ retailer.id }}">
                <label for="retailer-option-{{ retailer.id }}">{{ retailer.title }}</label><br>
            {% endfor %}
            </div>
        </div>
             
        <div class="filter-list">
            <h5>By Price</h5>
            <div class="price-range">
                <div class="price-filter">
                    <div class="price-filter-inner">
                        <div id="slider-range"></div>
                        <div class="price-values">
                            <div>From: <strong id="slider-range-value1"></strong></div>
                            <div>To: <strong id="slider-range-value2"></strong></div>
                        </div>
                    </div>
                </div>
                <div class="price-options">
                    <input class="filter-checkbox" data-filter="price" type="checkbox" id="price-option-1" name="price-option" value="500.00">
                    <label for="price-option-1">$ 0 - 500</label><br>
                    <input class="filter-checkbox" data-filter="price" type="checkbox" id="price-option-2" name="price-option" value="1000.00">
                    <label for="price-option-2">$ 500 - 1000</label><br>
                    <input class="filter-checkbox" data-filter="price" type="checkbox" id="price-option-3" name="price-option" value="5000.00">
                    <label for="price-option-3">$ 1000 - 5000</label><br>
                    <input class="filter-checkbox" data-filter="price" type="checkbox" id="price-option-4" name="price-option" value="10000.00">
                    <label for="price-option-4">$ 5000 - 10000</label><br>
                    <input class="filter-checkbox"data-filter="price" type="checkbox" id="price-option-5" name="price-option" value="100000.00">
                    <label for="price-option-5">Over 10000</label>
                </div>
            </div>
        </div>
    </div>
   
   

    <div class="products-container" id="filtered-products">
        
        {% for product in products %}
        <div class="product-card">
            <div class="product-img">
                <a href="{%url 'main:product' product.id %}"><img class="product-image" src="{{product.image.url}}" alt=""></a>
            </div>
            <div class="product-info">
                <span>#{{product.category}} <span>
                <a href="{%url 'main:product' product.id %}"><h5>{{product.title}}</h5></a>
                <input type="hidden" value="1" class="product-quantity">
                <input type="hidden" value={{product.id}} class="product-id" name="" id="">
                <input type="hidden" value={{product.title}} class="product-title" name="" id="">
                <span>⭐⭐⭐⭐(4.0)</span><br>
                <span>By <span><a class="retailer-title" href="{% url 'main:retailerdetails' product.retailer.id %}">{{product.retailer}}</a> </span></span><br>
                <span class="price current-price">{{product.sale_price}}</span>
                <button type="submit" class="add-to-cart-btn"><i class="fas fa-cart-plus"></i>Add to Cart</button>
                <button><i class="fas fa-heart"></i></button>
            </div>              
        </div>
        {%endfor %}
       
       
    </div>
    

       
</section>




{%endblock content%}