{% extends "base/base.html" %}
{%load static%}
{%block content%}

<!--
    <div class="product-card">
    <div class="product-img">
        <img class="product-image" src="{{product.image.url}}" alt="">
    </div>
    <div class="product-info">
        <span>#{{product.category}} <span>
        <a href=""><h5>{{product.title}}</h5></a>
        <span>⭐⭐⭐⭐(4.0)</span><br>
        <span>By <span><a class="retailer-title" href="{% url 'main:retailerdetails' product.retailer.id %}">{{product.retailer}}</a> </span></span><br>
        <span class="price">${{product.sale_price}}</span>
        <button ><i class="fas fa-cart-plus"></i>Add to Cart</button>
        <button><i class="fas fa-heart"></i></button>
        {%for review in reviews%}
        <p>Review {{review.review}} {{review.rating}}</p>
        {%endfor%}
    </div>              
</div>
-->
<div class="pdtdetail-container">

    <div class="product-card">
        <div class="img-container">
            <img src="{{product.image.url}}" alt="">
        </div>
        <div class="imgs-container">
            <img src="{{product.image.url}}" alt="">
            <img src="{{product.image.url}}" alt="">
            <img src="{{product.image.url}}" alt="">
            <img src="{{product.image.url}}" alt="">
        </div>
        <div class="product-details">
            <div class="title-price">
                <a href=""><h5>{{product.title}}</h5></a>
                <span>⭐⭐⭐⭐(4.0)</span><span>22 reviews</span><br>
                <span class="price">${{product.base_price}}</span>
                <span class="price">${{product.sale_price}}</span>
            </div>
            <div class="productdesc">
                <p>{{product.description}}</p>
            </div>
            <div class="product-purchase">
                <input type="number">
                <button ><i class="fas fa-cart-plus"></i>Add to Cart</button>
                <button><i class="fas fa-heart"></i></button>
            </div>
        </div>
        <div class="product-specs">
            <span>Type :{{product.category}}</span>
            <p>{{product.specifications}}</p>
            <span>Stock Status: {{product.stock_status}}</span>
        </div>
    </div>
    <div class="aside">
        <div class="delivery-card">
            <p>Delivery</p>
            <div class="address">
                </p></span><i class="fas fa-location"></i><strong>Address: </strong> <span>User Delivery Address</span></p><span>Change</span>
            </div>
            <div class="return-warranty">
                <span>100% Authentic</span>{{product.return_time}}<span></span>{{product.warranty_period}}<span></span>
            </div>
        </div>
        <div class="pdt-retailer-card">
            <p>Retailer</p>
            <div class="retailer-details">
               <span>{{retailer.title}}</span>
               <span>⭐⭐⭐⭐{{retailer.rating}}</span> 
               </p></span><i class="fas fa-location"></i><strong>Address: </strong> <span>{{retailer.address}}</span></p><span>Change</span>
               <p><i class="fas fa-phone"></i><strong>Call Us: </strong><span>+{{retailer.contact}}</span></p>
            </div>
        </div>
    </div>
</div>


{%endblock content%}