<div class="main-cart" id="async-cart">
    <div class="cart-items">
        <h1>Cart</h1>
        <div class="headers">
            <span>Product</span><span>Unit Price</span><span>Quantity</span><span>SubTotal</span><span>Remove</span>
        </div>
        {% for product_id,item in cart_data.items%}
        <div class="cart-item">
            <p class="cart-product"><img  class="cart-img" src="{{item.product_img}}" alt="">{{ item.product_title }}</p>
            <p>{{ item.product_price }}</p>
            <p>{{ item.product_qty }}</p>
            <p>{% widthratio item.product_price 1 item.product_qty %} </p>
            <span class="delete-product" data-product={{product_id}}><i class="fas fa-trash"></i></span>
        </div>

        {%endfor%}
    </div>
    <div class="checkout-options">
        <p>SubTotal:<span class="receipt-values" > ${{cart_total_amount}} </span></p>
        <a href="{%url 'main:checkout' %}"><button>Checkout <i class="fas fa-arrow-right"></i></button></a>
    </div></span>
  
    <div class="cart-functionality">
        <a href="{%url 'main:products' %}"><button><i class="fas fa-arrow-left"></i>Continue Shopping</button></a>
        
    </div>
</div>