*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}
body{
    font-size:17px;
}
li{
    list-style-type: none;
}
.header{
    height:6em;
    
}
.header-container{
    display: flex;
    align-items:center;
    background-color:whitesmoke;
}
#header-img{
    height:100%;

}
nav {
    width:85vw;
    display: inherit;
    justify-content: space-between;
    margin-left:1.5em;
}
nav > ul {
    display: inherit;
    align-items: inherit;
}
i{
    margin-right:0.5em;
    color: orange;
    font-size:1em;
}
a{
    text-decoration: none;
    color:black;
    margin-right:1.5em;
}
a:hover{
    text-decoration: none;
    color:orange;
}
.subheader{
    display: flex;
    height:3em;
    
}
.all-categories{
   width:auto;
}
.category-dropdown {
    width: 100%;
    height:100%;
    background-color: whitesmoke;
    border-radius:5px;
}
.search-bar{
    display:inherit;
    align-items:center;
    width:65%;
    height:100%;
    margin-right:3em;

}
.search-input{
    width:100%;
    height:100%;
    margin:0 1em;
    text-align: center;
    border-radius:5px;
}

.account-links .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
}

.account-links .dropdown:hover .dropdown-menu {
    display: block;
}

.main-container{
    display: flex;
}
.side-bar {
    flex: 0 0 25.25%; 
    height: 100vh;
}

.central-pane {
    flex: 1; 
    
}
.categories-list{
    height:auto;
    border-radius: 10px;
    box-shadow: 0 0 1px 1px orange;
    width:auto;
    padding:1em;
    margin:1em;
}
.categories-list>ul>li{
    margin: 1.2em;
    
}
.categories-list>ul>li>a{
    padding:0.5em;
}

.categories-list>ul>li>a:hover,.page-links>a:hover{
    color:orange;
}
.special{
    border-bottom: 2px solid orange;
}
.hero-banner {
    max-width: 100%;
    padding: 1em;
    position: relative;
    overflow: hidden; /
}

.hero-img{
    width: 100%;
    height: 29em;
    border-radius: 10px;
    object-fit: cover;
    z-index: 0; 
}
.overlay-bg{
    position: absolute;
    top: 1em; 
    left: 1em; 
    width: calc(100% - 2em); 
    height: calc(100% - 2em); 
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}
.overlay-content,.ad-text{
    position:absolute;
    top:45%;
    left:35%;
    color:white;
    z-index:2;
    text-align: center;
}
.ad-banner{
    position: relative;
    margin:1em;

}
.ad-img{
    width: 100%;
    height:auto;
    object-fit: cover;
    z-index: 0;
    
}
.ad-overlaybg{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}
.products-section{
    padding:1em;
}
.products-container{
   display: grid;
   grid-template-columns: repeat(auto-fit,340px);
}
.product-img,.retailer-img{
    display: flex;
    justify-content: center;
   
}
.product-card{
    height:auto;
    border:0.5px solid orange;
    margin:1em;
    padding:1.2em;
    border-radius: 10px;
    gap:1em;
}
.retailer-card:hover,.product-card:hover{
    transform: scale(1.05);
    transition: 250ms ease;
}
.product-info{
    margin:1em;
}
.product-info span{
    white-space: normal;
    word-wrap: break-word;
}
.product-image,.retailer-image{
    height:10em;
    object-fit: cover;
    
}
.price{
    font-size:1.5em;
    color:orange;
}
.retailer-title{
    color:pink;
}
button{
    padding:0.5em;
    border-radius:.3em;
}
.newsletter{
    margin:auto;
    width:100%;
    padding:2em;
}
.newsletter-cover{
    position:relative;
}
.newsletter-content{
    position: absolute;
    top:50%;
    left:10%;
    color:white;
    
}
.newsletter-banner{
    width:100%;
    height:28rem;
    object-fit:cover;
    border-radius: 10px;
}

.footer-main{
    background-color: whitesmoke;
}
.footer-container{
    width:95%;
    margin:auto;
    display: flex;
    padding:1em;
}
.footer-col-1,.footer-col-2,.footer-col-3{
    width:33.3%;
    height:auto;
   
}
.contact-info>li,.footer-list>li{
    margin-bottom:15px;
}
.footer-list>li>a:hover{
    color:orange;
}
.category-banner,.rd-banner{
    min-height:15em;
    margin:1.5em;
    border-radius:10px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    padding:2em;
}
.banner-icon i{
    font-size:2em;
}
.retailers-header{
    height:15em;
    margin:1.5em;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2em;
    position:relative;
}
.retailers-main{
    padding:2em;
}
.retailers-header>p{
    position: absolute;
    bottom:0;
    left:0;   
}
.retailers-list{
    padding:1em;
    display: grid;
    gap:2em;
    grid-template-columns:1fr 1fr 
   
}
.retailer-card{
    border:2px solid orange;
    border-radius: 10px;
    padding:1em;
}
.retailerdetails-main{
    padding:1em;
}
.retailer-about{
    margin:1em;
    
}
.retailer-info-div{
    margin:2em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:2em;
}
.pdtdetail-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding:3em;
    margin:1em;
    gap:3em;  
}
.imgs-container img{
    width:4em;
    height:4em;
}
.product-detail-image{
    height:25em;
    object-fit: cover;
}
.product-detail-card{
    height:auto;
    border:0.5px solid orange;
    display: flex;
    flex-direction: column;
    gap:1em;
    padding:1.2em;
    border-radius: 10px;
}
.product-details{
    margin-top:2em;
}
.product-detail-card:hover{
    transform: scale(1.05);
}
.title-price span{
    display: block; 
    margin-bottom:.1em;
}
.retailer-details span {
    display: block; 
    margin-bottom:.1em;
}
.return-warranty span {
    display: block; 
    margin-bottom:.1em;
}
.delivery-card,.pdt-retailer-card{
    border-radius:10px;
    background-color: whitesmoke;
    margin:1em;
    padding:1em;
}
.nav.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}
.nav.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: orange;
    background-color: transparent;
}

.nav.nav-tabs .nav-link:hover {
    border-color: #dee2e6 #dee2e6 #007bff;
}

.nav.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.tab-content.shop_info_tab {
    padding: 20px;
    border: 1px solid #dee2e6;
    border-top: 0;
}

.tab-pane.fade.show.active {
    display: block;
}
.tab-pane.fade {
    display: none;
}
.reviews-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2em;
}
.review-card{
    background-color:whitesmoke;
    height: auto;
    min-height: 100px;
    padding:2em;
    border-radius:10px;
}
.review-card{
    position: relative;
}
.star-rating{
    position:absolute;
    top:0;
    right:0;
    margin:0.5em;
}
.user-name{
    position: absolute;
    bottom:0;
    right:0;
    margin:0.2em;
    font-size:0.8em;
}
.review-date{
    position: absolute;
    bottom:0;
    left:0;
    margin:0.2em;
    font-size:0.8em;
    color:grey;
}
.comment-form{
    margin-bottom:1em;
}
.filters-section{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}

.filter-list{
    height:auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px whitesmoke;
    width:auto;
    padding:1em;
    margin:1em;
}
.filter-list>ul>li{
    margin: 1.2em;
    
}
.filter-list>ul>li>a{
    padding:0.5em;
}
.filters-section.hidden{
    display: none;
}

.filters-section.visible {
    display: grid;
}
